<h2>Template Basicos</h2>
<hr>

<div class="row">
    <div class="col">

        <!-- para hacer a referencia a este formulario uso #miFormulario enviando la imformacion al ngSubmit -->
        <form (ngSubmit)="enviarFormulario()" 
            #miFormulario="ngForm"
            autocomplete="off">
            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label 
                    for="productos" 
                    class="col-sm-3 col-form-label">
                    Productos:</label>
                <div class="col-sm-9">
                    <input 
                        type="text" 
                        id="productos" 
                        [ngModel]="objetoFormulario.producto"
                        name="producto"
                        class="form-control"
                        required
                        minlength="3"
                        placeholder="Nombre del producto">
                
                        
                        <span 
                            class="form-text text-danger"
                            *ngIf="validarPropiedad()">
                            Debe de ser de tres letras
                        </span>

                </div>
            </div>

            <div class="mb-3 row" >
                <label 
                    for="precio" 
                    class="col-sm-3 col-form-label">
                    Precio:</label>
                <div class="col-sm-9">
                    <input 
                        type="number" 
                        id="precio" 
                        [ngModel]="objetoFormulario.precio"
                        name="precio"
                        required
                        placeholder="Precio del producto"
                        class="form-control">

                    <span 
                        class="form-text text-danger"
                        *ngIf="isMayorQueCero()">
                        El precio debe ser mayor que 0
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label 
                    for="existencias" 
                    class="col-sm-3 col-form-label">
                    Existencias:</label>
                <div class="col-sm-9">
                    <input 
                        type="number" 
                        id="existencias"
                        [ngModel]="objetoFormulario.existencia"
                        name="existencias" 
                        placeholder="Existencias del producto"
                        class="form-control">

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- float-end : desplaza el boton al extremo derecho -->
                    <button 
                        class="btn btn-primary float-end"
                        [disabled]="miFormulario.invalid"
                        type="submit">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid}} </pre>
        
        <!-- Pristine : significa que no se han cambiado los valores con los cuales se presento el formulario -->
        <span>Pristine</span>
        <pre>{{ miFormulario.pristine}} </pre>

        <!-- Touch: si el formulario ha sido tocado, aunque no haya hecho ningun cambio -->
        <span>Touch</span>
        <pre>{{ miFormulario.touched}} </pre>
        
        <span>value</span>
        <pre>{{ miFormulario.value | json}} </pre>
        
    </div>
</div>

