<h2>Reactive: <small>Dinamicos</small></h2>
<hr>



<form 
    (ngSubmit)="enviarFormulario()" 
    [formGroup]="miFormulario"
    autocomplete="off">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                type="text"
                formControlName="nombre"
                placeholder="Nombre de la persona">

            <span 
                *ngIf="esCampoValido('nombre')"
                class="form-text text-danger">
                Este campo es obligatorio
            </span>
        </div>
        
    </div>

     <!-- Agregar -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Agregar</label>
        <div class="col-sm-9">

            <div class="input-group mb-3">
                <input class="form-control"
                    placeholder="Agregar favorito"
                    (keyup.enter)="agregarFavorito()"
                    [formControl]="agregaFavorito">
                    <!-- (keyup.enter)="agregarJuego()" -->
                
                <button 
                    (click)="agregarFavorito()"
                    type="button"
                    class="btn btn-outline-primary">Agregar</button>
                    <!-- (click)="agregarJuego()" -->

            </div>

        </div>
        
    </div>

    <hr>

     <!-- Lista de juegos favoritos-->
     <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Favoritos </label>
        <div 
            formArrayName="favoritos"
            class="col-sm-9" >

            <div 
                *ngFor="let favorito of FavoritosArr.controls ; let i = index"
                class="input-group mb-1">
                <input 
                    [formControlName]="i"
                    class="form-control">
                
                <button
                    (click)="borrar(i)" 
                    type="button"
                    class="btn btn-outline-danger">Borrar
                    
                </button>
            </div>
          
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <button 
                type="submit" 
                class="btn btn-primary float-end">
                Enviar
            </button>
            
        </div>
    </div>
</form>


<span>miFormulario.valid </span>
<pre> {{miFormulario.valid}} </pre>
<br>
<!-- <span>miFormulario.touched </span>
<pre> {{miFormulario.touched}} </pre>
<br>
<span>miFormulario.pristine</span>
<pre>{{miFormulario.pristine}}</pre>
<br> -->
<span>miFormulario.value | json </span>
<pre> {{miFormulario.value | json}} </pre>

<hr>

<span>agregaFavorito.value</span>
<pre>{{agregaFavorito.value}}</pre>
<br>
<span>agregaFavorito.valid</span>
<pre>{{agregaFavorito.valid}}</pre>
