<h2>Reactive: <small>Dinamicos</small></h2>
<hr>



<form autocomplete="off">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                type="text"
                placeholder="Nombre de la persona">

            <span class="form-text text-danger">
                Este campo es obligatorio
            </span>
        </div>
        
    </div>

     <!-- Agregar -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Agregar</label>
        <div class="col-sm-9">

            <div class="input-group mb-3">
                <input class="form-control"
                    placeholder="Agregar favorito">
                    <!-- (keyup.enter)="agregarJuego()" -->
                
                <button 
                    type="button"
                    class="btn btn-outline-primary">Agregar</button>
                    <!-- (click)="agregarJuego()" -->

            </div>

        </div>
        
    </div>

    <hr>

     <!-- Lista de juegos favoritos-->
     <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Favoritos </label>
        <div class="col-sm-9">

            <!-- <div 
                *ngFor="let juego of persona.favoritos; let i = index"
                class="input-group mb-1">
                <input class="form-control">
                
                <button type="button"
                    class="btn btn-outline-danger">Borrar
                    (click)="borrarJuego(i)"
                </button>
            </div> -->
          
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <button 
                type="submit" 
                class="btn btn-primary float-end">
                Enviar
            </button>
            
        </div>
    </div>
</form>


<!-- <span>Persona | json </span>
<pre> {{persona | json}} </pre> -->